[data-animate] {
  transition-duration: 1s;
  transition-timing-function: ease-out;
  opacity: 0;
}

.animate[data-animate="in-right"] {
  transform: translateX(-400%);
}

.animate[data-animate="in-left"] {
  transform: translateX(400%);
}

.animate-init[data-animate="in-right"],
.animate-init[data-animate="in-left"] {
  transform: translateX(0);
  opacity: 1;
}
