@import url("./sanitize.css");
@import url("animation.css");

:root {
  --main-bg: #eeeeee;
  --blue: #4e4feb;
  --white: #fff;
  --black: #000000;
}

body {
  overflow-x: hidden;
  background-color: var(--main-bg);
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 22px;
  min-width: 375px;
  min-height: 100vh;
  padding: 22px;
  padding-top: 120px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  font-size: 32px;
  border-radius: 6px;
  padding: 22px;
  text-align: center;
  max-width: 480px;
  min-height: 240px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.header {
  position: fixed;
  top: 0;
  padding: 0px;
  background-color: var(--main-bg);
  width: 100%;
  text-align: center;
  z-index: 10;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}
